<div (window:resize)="afterInit()"></div>
<div class="bg-image w-100" #imageContainer>
  <div class="avatar"
       *ngIf="initialAvatarRectangle && relativeAvatarRectangle"
       cdkDrag
       [cdkDragBoundary]="imageContainer"
       (cdkDragMoved)="onAvatarRectangleDrag($event)"
       (cdkDragEnded)="onAvatarRectangleDragEnd()"
       [cdkDragFreeDragPosition]="initialAvatarRectangle.topLeftPoint"
       [ngStyle]="{
        'width': (relativeAvatarRectangle.bottomRightPoint.x - relativeAvatarRectangle.topLeftPoint.x).toString() + 'px',
        'height': (relativeAvatarRectangle.bottomRightPoint.y - relativeAvatarRectangle.topLeftPoint.y).toString() + 'px',
        }">
  </div>
</div>
