@import "../../../../../weights";
@import "../../../../../colors";
@import "../../../../../sizes";


// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  background-color: $accent-color;

  font-size: $fs-desktop-subheading;

  .logo {
    font-weight: $fw-bold;
  }

  .profile-button {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

// Main
main {
  padding: 30px 80px;
}

// Footer
footer {
  padding-bottom: 10px;

  .line {
    height: 1px;
    margin-bottom: 10px;
    background-color: $dark-color;
  }
  .subheading {
    margin: 0;
  }
}
