@import "../../../../../colors";


.container {
  width: 100%;
  height: 82vh;

  .backgrounds {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 20px;

    &__item {
      aspect-ratio: 16/9;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      &-selected, &:hover {
        border: 3px solid $accent-dark-color;
        cursor: pointer;
      }
    }
  }
}
.people {
  max-width: 60px;
  max-height: 40px;
}
