@import "../../../../../colors";


.container {
  width: 100%;
  height: 100%;

  .backgrounds {
    display: flex;
    flex-flow: column;
    gap: 10px;

    .background {
      img {
        width: 192px;
        height: 108px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      &-selected, &:hover {
        border: 5px solid $accent-dark-color;
        border-radius: 5px;
      }
    }
  }
}
.people {
  max-width: 60px;
  max-height: 40px;
}
