@import "../../../../../colors";


.container {
  width: 100%;
  height: 100%;

  .slides {
    display: flex;
    gap: 10px;
    justify-content: center;

    &__item {
      width: 192px;
      height: 108px;
      border-radius: 5px;
      overflow: clip;

      img {
        width: 192px;
        height: 108px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      &-selected, &:hover {
        border: 5px solid $accent-dark-color;
        cursor: pointer;
      }
    }
  }
}
