@import "../../../../../colors";
@import "../../../../../weights";
@import "../../../../../sizes";


.container {
  width: 100%;
  height: 100%;

  .slides {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    &__item {
      display: inline-block;
      margin-right: 10px;
      width: 192px;
      height: 108px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 192px;
        height: 108px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      &-selected, &:hover {
        border: 3px solid $accent-dark-color;
        cursor: pointer;
      }

      &-num {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);

        &__inner {
          font-weight: $fw-bold;
          font-size: $fs-desktop-heading;
          color: white;
        }
      }
    }
  }
}
