<div class="heading">Смена пароля</div>

<form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-field">
    <label class="text-field__label" for="current-password">Введите текущий пароль</label>
    <input
      id="current-password"
      class="text-field__input"
      [ngClass]="{'is-invalid': (form.controls['currentPassword'].invalid && form.controls['currentPassword'].touched)}"
      type="password"
      name="currentPassword"
      formControlName="currentPassword"
      placeholder="Текущий пароль"
      autocomplete="current-password">
  </div>
  <div class="invalid-feedback">
      <span *ngIf="form.controls['currentPassword'].errors?.['required']">
        Необходимо указать текущий пароль<br>
      </span>
    <span *ngIf="form.controls['currentPassword'].errors?.['minlength']">
        Пароль должен содержать не менее {{form.controls['currentPassword'].errors?.['minlength']['requiredLength']}}
      символов<br>
      </span>
    <span *ngIf="form.controls['currentPassword'].errors?.['pattern']">
        Пароль должен содержать цифры, заглавные и прописные латинские буквы<br>
      </span>
  </div>

  <div class="text-field">
    <label class="text-field__label" for="new-password">Введите новый пароль</label>
    <input
      id="new-password"
      class="text-field__input"
      [ngClass]="{'is-invalid': ((form.controls['newPassword'].invalid || form.invalid) && form.controls['newPassword'].touched)}"
      type="password"
      name="newPassword"
      formControlName="newPassword"
      placeholder="Новый пароль"
      autocomplete="new-password">
  </div>
  <div class="invalid-feedback">
      <span *ngIf="form.controls['newPassword'].errors?.['required']">
        Необходимо указать новый пароль<br>
      </span>
    <span *ngIf="form.controls['newPassword'].errors?.['minlength']">
        Пароль должен содержать не менее {{form.controls['newPassword'].errors?.['minlength']['requiredLength']}}
      символов<br>
      </span>
    <span *ngIf="form.controls['newPassword'].errors?.['pattern']">
        Пароль должен содержать цифры, заглавные и прописные латинские буквы<br>
      </span>
    <span *ngIf="form.errors?.['differentPasswords']">
        Пароли не должны совпадать<br>
      </span>
  </div>
  <div class="footer">
    <div class="footer__button-div">
      <button class="button" type="submit" [disabled]="form.invalid || form.disabled">Изменить</button>
    </div>
    <div class="footer__link-div">
      <a class="link-dark text-decoration-none fst-italic link-opacity-75-hover" routerLink="/profile">Отмена</a>
    </div>
  </div>
  <div class="error" *ngIf="error">{{error}}</div>
  <div class="success" *ngIf="success">{{success}}</div>
</form>
