@import "../../../../colors";
@import "../../../../sizes";
@import "../../../../weights";


.error {
  margin-top: 50px;

  .heading {
    color: $dark-color;
  }

  .details {
    margin-top: 30px;
    text-align: center;
    font-size: $fs-desktop-subheading;
  }
}

.main-container {
  display: flex;
  flex-flow: column;
  gap: 10px;
  justify-content: space-between;

  .editing-disabled {
    margin-top: 50px;
    text-align: center;

    .heading {
      text-align: center;
    }

    .details {
      margin-top: 30px;
      font-size: $fs-desktop-subheading;
    }
  }

  .text-field {
    background-color: $input-color;
    background-clip: padding-box;
    border-radius: 5px;
    padding: 10px;
    color: $dark-color;
    display: flex;
    align-items: center;

    input {
      display: block;
      font-family: inherit;
      font-size: $fs-desktop-label;
      width: 100%;
    }
  }

  .heading, .subheading {
    text-align: left;
    font-weight: $fw-bold;
  }

  .button-sm {
    border-radius: 5px;
    padding: 0 15px;
    gap: 0;
    background-color: $input-color;

    span {
      font-size: 14px;
    }

    &:hover, &-selected {
      background-color: $input-dark-color !important;
    }
  }

  .button-round {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    &:hover {
      background-color: $input-color;
    }
  }

  .top-side-container {
    display: flex;
    gap: 20px;

    .left-side-container {
      display: flex;
      flex-flow: column;
      gap: 20px;
    }

    .middle-side-container {
      display: flex;
      flex-flow: column;
      gap: 10px;
      flex: 1 1 auto;

      &__main {
        //flex: 1 1 auto;
      }

      &__footer {
        display: flex;
        justify-content: space-between;
        gap: 5px;

        .button {
          padding: 5px 10px;
          font-size: $fs-desktop-label;
          font-weight: $fw-bold;

          &-group {
            display: flex;
            gap: 5px;
            align-items: center;
          }

          &-download {
            background: $input-color;
          }
        }
      }
    }

    .right-side-container {
      display: flex;
      flex-flow: column;
      gap: 20px;

      width: 30%;

      .properties {
        display: flex;
        flex-flow: column;
        gap: 10px;
        flex: 1 1 auto;

        .property {
          display: flex;
          flex-flow: column;
          gap: 5px;

          &__header {
            font-weight: $fw-bold;
          }

          &__main {
            flex: 1 1 auto;

            .button-sm {
              padding: 5px 10px;
            }
          }

          .text {
            background-color: $input-color;
            border-radius: 5px;
            padding: 10px;
            font-size: $fs-desktop-label;
            text-align: justify;
            width: 100%;
            height: 100%;
          }
        }

        .full-height {
          flex: 1 1 auto;
        }
      }
    }
  }

  .bottom-side-container {
    height: 100px;
  }
}
