<div class="error" *ngIf="error">
  <div class="heading">Ошибка</div>
  <div class="details">
    {{error}}
  </div>
</div>
<div class="main-container" *ngIf="!error && editingDisabled">
  <div class="editing-disabled">
    <div class="heading">Запрос обрабатывается</div>
    <div class="details">Видео генерируется. Когда генерация завершится, проект можно будет редактировать.</div>
  </div>
</div>
<div class="main-container" *ngIf="!error && !editingDisabled && project && notEditedProject && project.slides">
  <div class="left-side-container">
    <div class="left-side-container__header">
      <div class="subheading">Фон слайда</div>
    </div>
    <div class="left-side-container__main">
      <app-images-list
        [mediaUrls]="project.slides[currentSlideIndex].backgroundImageChoicePaths"
        [selectedIndex]="project.slides[currentSlideIndex].backgroundImage"
        (selectedImageIndexChange)="project.slides[currentSlideIndex].backgroundImage = $event">
      </app-images-list>
    </div>
  </div>
  <div class="middle-side-container">
    <div class="middle-side-container__header" [title]="project.userPrompt">
      <app-preview avatarImage="assets/img/thara-man-round.png"
                   [avatarRectangle]="{
                     topLeftPoint: project.slides[currentSlideIndex].avatarPosition,
                     bottomRightPoint: {
                     x: project.slides[currentSlideIndex].avatarPosition.x + 300,
                     y: project.slides[currentSlideIndex].avatarPosition.y + 300
                     }
                     }"
                   [avatarScale]="project.slides[currentSlideIndex].avatarScale"
                   (avatarRectangleEvent)="onAvatarRectangleChange($event)"
                   [backgroundImage]="project.slides[currentSlideIndex].backgroundImageChoicePaths[project.slides[currentSlideIndex].backgroundImage]">
      </app-preview>
    </div>
    <div class="middle-side-container__main">
      <div class="button button-play" *ngIf="projectEquals(project, notEditedProject)" (click)="onPlayButtonClick()">
        <mat-icon>play_arrow</mat-icon>
        Посмотреть результат
      </div>
      <div *ngIf="!projectEquals(project, notEditedProject)" class="button-group">
        <div class="button button-generate"
             (click)="onGenerateButtonClick()">
          <mat-icon>autorenew</mat-icon>
          Отправить на перегенерацию
        </div>
        <div class="button-round"
             (click)="onRollbackButtonClick()">
          <mat-icon>undo</mat-icon>
        </div>
      </div>
      <div class="button button-download" *ngIf="projectEquals(project, notEditedProject)"
           (click)="onQrButtonClick()">
        <mat-icon>file_download</mat-icon>
        Скачать готовое видео
      </div>
      <div class="button button-delete"
           (click)="onDeleteButtonClick()">
        <mat-icon>delete</mat-icon>
        Удалить
      </div>
    </div>
    <div class="middle-side-container__footer">
      <app-slides-list [slides]="project.slides" [selectedIndex]="currentSlideIndex"
                       (selectedIndexChange)="currentSlideIndex = $event"></app-slides-list>
    </div>
  </div>
  <div class="right-side-container">
    <div class="subheading">Свойства слайда</div>
    <div class="properties">
      <div class="property">
        <div class="property__header">Время</div>
        <div class="property__main text-field active" *ngIf="project.slides">
          <input type="text" class="input" [value]="project.slides[currentSlideIndex].durationMs">
          мс
        </div>
      </div>
      <div class="property full-height" *ngIf="project.slides[currentSlideIndex].text">
        <div class="property__header">Текст</div>
        <div class="property__main">
          <span class="text-field">{{project.slides[currentSlideIndex].text}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="error" *ngIf="error">{{error}}</div>
</div>
