<div class="main-container">
  <div class="top-side-container">
    <div class="left-side-container">
      <div class="left-side-container__header">
        <mat-icon routerLink="/projects">arrow_back</mat-icon>
        <div class="subheading">Изображения</div>
      </div>
      <div class="left-side-container__main">
        <!--    TODO передать список медиафайлов (ссылок) в компонент    -->
        <app-images-list></app-images-list>
      </div>
    </div>
    <div class="right-side-container">
      <div class="right-side-container__main">
        <!--    TODO передать все необходимое в компонент    -->
        <app-preview></app-preview>
      </div>
      <div class="right-side-container__footer">
        <div class="slide-time-container">
          <div class="subheading">Время на слайд:</div>
          <!--    TODO выбор времени на слайд       -->
          <input type="text" value="0:14">
        </div>
        <div class="avatar-position-container">
          <div class="subheading">Расположение аватара:</div>
          <button class="button-sm"
                  (click)="onChangeAvatarPositionButtonClick()">{{avatarPositions[avatarPositionIndex]}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-side-container">
    <!--    TODO передать список слайдов и номер текущего в компонент    -->
    <app-slides-list></app-slides-list>
  </div>

  <!--  <div class="container" *ngIf="step == 1">-->
  <!--    <div class="left-side-container">-->
  <!--      <div class="subheading">Результат</div>-->
  <!--      <video width="100%"-->
  <!--             controls-->
  <!--             preload="auto"-->
  <!--             data-setup="{}">-->
  <!--        <source src="{{videoUrl}}" type="video/mp4">-->
  <!--      </video>-->
  <!--    </div>-->
  <!--    <div class="right-side-container">-->
  <!--      <div class="subheading text-right">Оцените работу сайта</div>-->
  <!--      <div class="rate-stars">-->
  <!--        <div class="rate-star" (click)="setRateStarSelected(1)"><span-->
  <!--          [ngClass]="{'rate-star-selected': rateStarSelected > 0}" class="material-symbols-sharp">star</span></div>-->
  <!--        <div class="rate-star" (click)="setRateStarSelected(2)"><span-->
  <!--          [ngClass]="{'rate-star-selected': rateStarSelected > 1}" class="material-symbols-sharp">star</span></div>-->
  <!--        <div class="rate-star" (click)="setRateStarSelected(3)"><span-->
  <!--          [ngClass]="{'rate-star-selected': rateStarSelected > 2}" class="material-symbols-sharp">star</span></div>-->
  <!--        <div class="rate-star" (click)="setRateStarSelected(4)"><span-->
  <!--          [ngClass]="{'rate-star-selected': rateStarSelected > 3}" class="material-symbols-sharp">star</span></div>-->
  <!--        <div class="rate-star" (click)="setRateStarSelected(5)"><span-->
  <!--          [ngClass]="{'rate-star-selected': rateStarSelected > 4}" class="material-symbols-sharp">star</span></div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="error" *ngIf="error">{{error}}</div>
</div>
