@import "../../../../../colors";
@import "../../../../../sizes";
@import "../../../../../weights";


.modal-container {
  padding: 30px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  justify-content: center;

  background-color: $white-color;
  border-radius: 5px;

  text-align: center;

  .subheading {
    font-weight: $fw-bold;
  }

  .modal-main {
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;

    .qr {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 20px;

      &__header {
        font-weight: $fw-bold;
        font-size: $fs-desktop-subheading;
      }
    }

    .rate {
      display: flex;
      flex-flow: column;
      gap: 10px;

      &__header {
        font-weight: $fw-bold;
      }

      &__stars {
        display: flex;
        gap: 10px;

        &__star {
          cursor: pointer;

          &:hover, &__selected {
            color: $accent-dark-color !important;
          }
        }
      }
    }
  }

  .modal-footer {

    .button {
      margin: 0 auto;
    }
    .button-red {
      background-color: $white-color;
      border: 3px solid $red-color;
      color: $red-color;
      font-weight: $fw-bold;
    }
  }
}
