<div class="modal-container">
  <div class="modal-header">
    <div class="heading">Поделиться</div>
  </div>
  <div class="modal-main">
    <div class="qr">
      <div class="qr__header">QR-код на скачивание видео</div>
      <div class="qr__main">
<!--        <ngx-qrcode-->
<!--          [elementType]="NgxQrcodeElementTypes.URL"-->
<!--          [errorCorrectionLevel]="NgxQrcodeErrorCorrectionLevels.HIGH"-->
<!--          [value]="modalRef.config.data['video_url']">-->
<!--        </ngx-qrcode>-->
        <qrcode [qrdata]="modalRef.config.data['video_url']" [width]="256" [errorCorrectionLevel]="'H'"></qrcode>
      </div>
    </div>
<!--    <div class="rate">-->
<!--      <div class="rate__header">Оцените работу сайта</div>-->
<!--      <div class="rate__stars">-->
<!--        <div class="rate__stars__star" (click)="setRateStarSelected(1)">-->
<!--          <mat-icon-->
<!--            [ngClass]="{'rate__stars__star__selected': rateStarSelected > 0}">star-->
<!--          </mat-icon>-->
<!--        </div>-->
<!--        <div class="rate__stars__star" (click)="setRateStarSelected(2)">-->
<!--          <mat-icon-->
<!--            [ngClass]="{'rate__stars__star__selected': rateStarSelected > 1}">star-->
<!--          </mat-icon>-->
<!--        </div>-->
<!--        <div class="rate__stars__star" (click)="setRateStarSelected(3)">-->
<!--          <mat-icon-->
<!--            [ngClass]="{'rate__stars__star__selected': rateStarSelected > 2}">star-->
<!--          </mat-icon>-->
<!--        </div>-->
<!--        <div class="rate__stars__star" (click)="setRateStarSelected(4)">-->
<!--          <mat-icon-->
<!--            [ngClass]="{'rate__stars__star__selected': rateStarSelected > 3}">star-->
<!--          </mat-icon>-->
<!--        </div>-->
<!--        <div class="rate__stars__star" (click)="setRateStarSelected(5)">-->
<!--          <mat-icon-->
<!--            [ngClass]="{'rate__stars__star__selected': rateStarSelected > 4}">star-->
<!--          </mat-icon>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="modal-footer">
    <button class="button button-red" (click)="modalRef.close()">Закрыть</button>
  </div>
</div>
