@import "../../../../colors";
@import "../../../../sizes";
@import "../../../../weights";


main {
  display: flex;
  flex-flow: column;
  gap: 50px;

  .heading, .subheading {
    margin: 0;
  }

  .top-info-container {
    margin-top: 100px;
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

  .start-button-container {
    display: flex;
    justify-content: center;

    a {
      width: 20%;
    }
  }

  .demo-video {
    display: flex;
    justify-content: center;

    app-video-player {
      width: 1000px;
    }
  }

  .boring-text-container {
    padding-top: 50px;
    display: flex;
    gap: 200px;

    .boring-text-container__text-container {
      display: flex;
      flex-flow: column;
      gap: 20px;
      width: 45%;

      .heading, .subheading {
        text-align: left;
      }
    }
  }

  .advantages-container {
    display: flex;
    gap: 200px;

    .advantages-container__text-container {
      width: 45%;
      display: flex;
      flex-flow: column;
      gap: 20px;

      .heading, .subheading {
        text-align: left;

        ul {
          display: flex;
          flex-flow: column;
          gap: 10px;

          li {
            display: flex;
            gap: 20px;
          }

          span {
            display: block;
            padding: 5px;
            font-size: $fs-desktop-subheading;
          }
        }
      }
    }
  }

  .ethics-container {
    margin-top: 50px;
    background-color: $input-color;
    border-radius: 5px;
    padding: 100px 200px;
    display: flex;
    flex-flow: column;
    gap: 50px;

    .heading {
      color: $accent-dark-color;

      span {
        font-size: $fs-desktop-heading;
      }
    }

    .subheading {
      text-align: left;
    }

    .text-center {
      text-align: center;
    }

    .ethics-principles {
      display: flex;
      flex-flow: column;
      gap: 15px;
      font-size: $fs-desktop-subheading;

      .ethics-principles-container {
        display: flex;
        text-align: left;

        .ethics-principles-container__heading {
          font-weight: $fw-bold;
          //flex: 1;
        }

        .ethics-principles-container__text {
          //flex: 1;
        }
      }
    }
  }
}
