<!--  Main  -->
<main>
  <div class="top-info-container">
    <div class="heading">Tinkoff VideoKit</div>
    <div class="subheading">Превратите свой текст в видео за считанные минуты</div>
  </div>

  <div class="start-button-container">
    <a class="button start-button" routerLink="/projects">Начать</a>
  </div>

  <div class="demo-video">
    <app-video-player videoUrl="assets/video/video1.mp4"></app-video-player>
  </div>

  <div class="boring-text-container">
    <div class="boring-text-container__text-container">
      <div class="heading">Превратите идеи в захватывающие видео за мгновение!</div>
      <div class="subheading">Наши инновационные инструменты обеспечивают безупречное качество и быстроту выполнения,
        давая вам пространство для креатива и инноваций. Пока вы фокусируетесь на смысле и содержании, мы гарантируем,
        что техническая сторона процесса будет безупречна.
      </div>
    </div>
    <div class="video-wrap">
      <app-video-player class="boring-text-container__video-container"
                        videoUrl="assets/video/video2.mp4"></app-video-player>
    </div>
  </div>

  <div class="advantages-container">
    <div class="advantages-container__video-container">
      <img src="assets/img/photo1.jpg" alt="photo1">
    </div>
    <div class="advantages-container__text-container">
      <div class="heading">Больше, чем контент — это искусство коммуникации</div>
      <div class="subheading">
        <ul>
          <li><span class="material-symbols-sharp">jamboard_kiosk</span> Замените однообразные тексты, презентации в
            PowerPoint и
            PDF-документы на интересные видеоролики, которые привлекут вашу аудиторию
          </li>
          <li><span class="material-symbols-sharp">movie</span> Создавайте качественные видеоролики для улучшения
            продаж,
            которые ваши клиенты захотят смотреть до конца
          </li>
          <li><span class="material-symbols-sharp">fact_check</span> Преобразуйте ваши инструкции и предписания в
            короткие
            видео и повысьте уровень удовлетворенности ваших клиентов
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="ethics-container">
    <div class="heading"><span class="material-symbols-sharp">verified_user</span> БЕЗОПАСНОСТЬ И ЭТИКА В ИСКУССТВЕННОМ
      ИНТЕЛЛЕКТЕ
    </div>
    <div class="subheading">
      Человек – наш приоритет.
      <b>Мы ставим вашу безопасность и этику на первое место во всем, что мы делаем.</b>
    </div>
    <div class="ethics-principles">
      <div class="ethics-principles-container">
        <div class="ethics-principles-container__heading">Человеческая ответственность</div>
        <div class="ethics-principles-container__text">&nbsp;&nbsp;–&nbsp;&nbsp;За каждым нашим алгоритмом стоит команда
          профессионалов
        </div>
      </div>
      <div class="ethics-principles-container">
        <div class="ethics-principles-container__heading">Прозрачность в действии</div>
        <div class="ethics-principles-container__text">&nbsp;&nbsp;–&nbsp;&nbsp;Мы делимся, как и зачем используем ИИ,
          чтобы вы всегда были в курсе
        </div>
      </div>
      <div class="ethics-principles-container">
        <div class="ethics-principles-container__heading">Высший уровень безопасности</div>
        <div class="ethics-principles-container__text">&nbsp;&nbsp;–&nbsp;&nbsp;Ваши данные и наши процессы под надежной
          защитой
        </div>
      </div>
      <div class="ethics-principles-container">
        <div class="ethics-principles-container__heading">Уважение к вашим правам</div>
        <div class="ethics-principles-container__text">&nbsp;&nbsp;–&nbsp;&nbsp;Мы ценим вашу конфиденциальность и
          права
        </div>
      </div>
      <div class="ethics-principles-container">
        <div class="ethics-principles-container__heading">Нейтральный и честный ИИ</div>
        <div class="ethics-principles-container__text">&nbsp;&nbsp;–&nbsp;&nbsp;Мы боремся с предвзятостью в наших
          алгоритмах
        </div>
      </div>
      <div class="ethics-principles-container">
        <div class="ethics-principles-container__heading">С вами на одной волне</div>
        <div class="ethics-principles-container__text">&nbsp;&nbsp;–&nbsp;&nbsp;Мы готовы к открытому диалогу о
          безопасности и этике ИИ
        </div>
      </div>
      <div class="ethics-principles-container">
        <div class="ethics-principles-container__heading">Не стоим на месте</div>
        <div class="ethics-principles-container__text">&nbsp;&nbsp;–&nbsp;&nbsp;Наша команда постоянно совершенствует
          свои знания и подходы
        </div>
      </div>
      <div class="ethics-principles-container">
        <div class="ethics-principles-container__heading">Стандарты – наш критерий</div>
        <div class="ethics-principles-container__text">&nbsp;&nbsp;–&nbsp;&nbsp;Мы следуем мировым стандартам
          безопасности и этики
        </div>
      </div>
    </div>
    <div class="subheading text-center">
      <b>Доверьте нам ваше будущее с ИИ. Мы заботимся о вас.</b>
    </div>
  </div>
</main>
