@import "../../../../colors";
@import "../../../../weights";
@import "../../../../sizes";


.container {
  display: flex;
  flex-flow: column;
  gap: 20px;

  .heading, .subheading {
    text-align: left;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;

    .project {
      cursor: pointer;
      font-size: $fs-desktop-subheading;
      font-weight: $fw-bold;
      background: $input-color;
      border-radius: 5px;
      padding: 5px 10px;
      display: flex;
      gap: 30px;
      align-items: center;
      max-width: 49%;

      &__id {

      }

      &__processed {
        border: 2px solid;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: $fs-desktop-label;
        background: $white-color;

        span {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }

      .processed-badge {
        border-color: $green-color;
        color: $green-color;
      }

      .unprocessed-badge {
        border-color: $red-color;
        color: $red-color;
      }

      &:hover {
        background: $input-dark-color;
      }
    }
  }
}
