@import "../../../../../colors";
@import "../../../../../sizes";


.table {
  width: 100%;
  text-align: left;
  font-size: $fs-desktop-subheading;

  th, td {
    padding-bottom: 10px;
  }

  .badge {
    border: 1px solid $dark-color;
    border-radius: 5px;
    padding: 3px 8px;
  }

  .badge:disabled {
    border-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
  }

  .badge-red {
    border-color: $red-color;
    color: $red-color;
  }

  .badge-yellow {
    border-color: $dark-color;
    color: $dark-color;
  }

  .a-delete {
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: $red-color;
  }

  .a-delete:disabled {
    color: rgba(0, 0, 0, 0.3);
  }
}

.text-center {
  text-align: center;
}
