$dark-color: rgba(0, 0, 0, 0.8);
$dark-color-2: rgba(0, 0, 0, 0.65);
$white-color: #f6f7f8;
$accent-color: #ffdd2d;
$accent-dark-color: #f5cb13;
$input-color: #ecf1f7;
$input-dark-color: #d9e7f5;
$red-color: #e31c1c;
$green-color: #07b202;
