@import "reset";
@import "colors";
@import "sizes";
@import "weights";


body {
  background-color: $white-color;
  color: $dark-color;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: $accent-color;
  font-size: $fs-desktop-input;
}

.button:hover {
  cursor: pointer;
  background-color: $accent-dark-color;
}

.heading {
  text-align: center;
  font-size: $fs-desktop-heading;
  font-weight: $fw-bold;
}

.subheading {
  font-size: $fs-desktop-subheading;
  text-align: center;
}

.invalid-feedback, .error {
  color: $red-color;
  font-size: $fs-desktop-label;
  margin-bottom: 20px;
}

.success {
  color: $green-color;
  font-size: $fs-desktop-label;
  margin-bottom: 20px;
}
