@import "../../../../colors";


.container {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: transparent;
}

.a-container {
  margin-bottom: 10px;
}

.footer-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;

  a {
    cursor: pointer;
  }

  .a-exit {
    border: 1px solid $dark-color;
  }

  .a-exit:hover {
    background-color: $input-color;
  }

  .a-delete {
    border: 1px solid $red-color;
    color: $red-color;
  }

  .a-delete:hover {
    background-color: $red-color;
    color: $white-color;
  }
}
