@import "../../../../colors";


.container {
  margin-top: 30px;

  .div-button {
    display: flex;
    margin-top: 20px;

    .button {
      border: 1px solid $dark-color;
      background-color: $white-color;
    }

    .button:hover {
      background-color: $input-color;
    }
  }
}
